@import "../../../assets/styles/global.styles.css";

.campaign-container {
  flex: calc(50% - 2rem);
  margin-bottom: 20px;
  max-width: calc(50% - 2rem);
  margin-right: 1rem;
  height: 100%;
}

.campaigns {
  display: flex;
  flex-wrap: wrap;
}

.action-button {
  width: max-content !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-container {
  padding: 2rem;
}

.section-container {
  margin: 2rem 0rem;
}

.section-title {
  font-family: "Main Black", sans-serif;
  font-size: 1.5rem;
}

.section-content {
  margin-top: 2rem;
}

.campaign {
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  padding: 1.5rem;
  height: 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.campaign-topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}

.campaign-type {
  font-family: "Main Bold", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: gray;
}

.campaign-action-text {
  font-family: "Main Bold", sans-serif;
  font-size: 0.9rem;
  color: #66d37e;
  cursor: pointer;
}

.campaign-name {
  font-family: "Main Medium", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.campaign-description {
  font-family: "Main Regular", sans-serif;
  font-size: 1rem;
  color: #777;
  margin-bottom: 12px;
}

.highlighted-label {
  font-family: "Main Bold", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  background-color: #66d37e;
  width: max-content;
  position: absolute;
  top: 0;
  right: 0;
}

.campaign-setting {
  font-family: "Main Regular", sans-serif;
  font-size: 0.9rem;
}

.deny {
  background-color: white !important;
  font-size: 0.9rem !important;
  padding: 0px !important;
  color: #d53939 !important;
}

.deny:hover {
  border: none !important;
}

.action-text {
  font-family: "Main Bold", sans-serif;
  font-size: 0.9rem;
  color: #66d37e;
}

.search {
  margin-top: 1rem;
  background-color: white;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  width: calc(100% - 1.5rem);
  font-family: "Main Regular", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .campaign-container {
    flex: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    margin-right: 1rem;
    height: 100%;
  }
}
