@font-face {
  font-family: "Main Regular";
  src: url("../fonts/Mulish/Mulish-Regular.ttf");
}

@font-face {
  font-family: "Main Bold";
  src: url("../fonts/Mulish/Mulish-Bold.ttf");
}

@font-face {
  font-family: "Main SemiBold";
  src: url("../fonts/Mulish/Mulish-SemiBold.ttf");
}

@font-face {
  font-family: "Main ExtraBold";
  src: url("../fonts/Mulish/Mulish-ExtraBold.ttf");
}

@font-face {
  font-family: "Main Black";
  src: url("../fonts/Mulish/Mulish-Black.ttf");
}

@font-face {
  font-family: "Main Light";
  src: url("../fonts/Mulish/Mulish-Light.ttf");
}

@font-face {
  font-family: "Main Medium";
  src: url("../fonts/Mulish/Mulish-Medium.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

p {
  margin-block: 0px;
}

.error-box {
  border: 1px solid #eb0202;
  font-family: "Main Medium";
  color: #eb0202;
  font-size: 14px;
  padding: 16px;
  border-radius: 4px;
  width: "100%";
  background-color: #ffbfc6;
}

.important {
  border: 1px solid #66d37e;
  font-family: "Main Bold";
  color: #fff;
  font-size: 14px;
  padding: 16px;
  border-radius: 4px;
  width: "100%";
  background-color: #66d37e;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  max-height: 100vh;
}

.page-contents-container {
  width: 88%;
  height: 100vh;
}

.action-button {
  background-color: #66d37e;
  color: white;
  padding: 0.5rem 0.75rem;
  font-family: "Main Black", sans-serif;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.notation {
  font-family: "Main Regular", sans-serif;
  color: #ccc;
  font-size: 0.9rem;
}

.text {
  font-family: "Main Medium", sans-serif;
  color: #262626;
  font-size: 1rem;
}

.page-contents-container {
  padding: 3rem;
}

.page-title {
  font-family: "Main Black", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.page-section {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
}

.page-section-title {
  font-family: "Main ExtraBold", sans-serif;
  text-transform: uppercase;
}

.page-section-content {
  margin-top: 0.5rem;
}
