@import "../../../assets/styles/global.styles.css";

.centered-content {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-box {
  width: 400px;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid #e7e7e7;
  background-color: white;
}

.modal-topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.modal-title {
  font-family: "Main Bold", sans-serif;
  font-size: 16px;
  color: black;
}

.modal-content {
  padding: 16px;
}

.modal-input-container {
  margin-bottom: 16px;
}

.modal-input-container:last-of-type {
  margin-bottom: none;
}

.modal-input-hint {
  font-family: "Main Medium", sans-serif;
  font-size: 16px;
  color: #aaa;
}

.modal-input {
  margin-top: 8px;
  background-color: white;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  width: 100%;
  font-family: "Main Regular", sans-serif;
  font-size: 16px;
  resize: none;
}

.action-button-modal {
  background-color: #66d37e;
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  border: none;
  font-family: "Main Black", sans-serif;
  color: white;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

.action-button:hover {
  background-color: white;
  border: 1px solid #66d37e;
  color: #66d37e;
}

.modal-notation {
  font-family: "Main Bold", sans-serif;
  font-size: 14px;
  margin-top: 16px;
}

.modal-action-text {
  color: #66d37e;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .modal-box {
    width: 100vw;
    height: 100vh;
  }
}
