@import "../../../assets/styles/global.styles.css";

.campaigns {
  display: flex;
  flex-wrap: wrap;
}

.action-button {
  width: max-content !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-container {
  padding: 2rem;
}

.section-container {
  margin: 2rem 0rem;
}

.section-title {
  font-family: "Main Black", sans-serif;
  font-size: 1.5rem;
}

.section-content {
  margin-top: 2rem;
}

.deny {
  background-color: white !important;
  font-size: 0.9rem !important;
  padding: 0px !important;
  color: #d53939 !important;
}

.deny:hover {
  border: none !important;
}

.action-text {
  font-family: "Main Bold", sans-serif;
  font-size: 0.9rem;
  color: #66d37e;
}

.search {
  margin-top: 1rem;
  background-color: white;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  width: 100%;
  font-family: "Main Regular", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .campaign-container {
    flex: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    margin-right: 1rem;
    height: 100%;
  }
}
