@import "../../../assets/styles/global.styles.css";

.page-section-title {
  font-family: "Main Bold", sans-serif;
  font-size: 1rem;
}

.notation {
  font-family: "Main Regular", sans-serif;
  font-size: 0.9rem;
  margin: 0.5rem 0rem;
}
