@import "../../../assets/styles/global.styles.css";

:root {
  all: unset;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #66d37e;
  width: calc(100% - 96px);
  height: 100px;
  padding: 0px 48px;
}

.logo-container,
.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  color: white;
}

.logo-title-navbar {
  font-family: "Main Black", sans-serif;
  font-size: 24px;
  color: white;
  margin-left: 8px;
}

.navbar-button {
  padding: 8px 12px;
  margin-left: 20px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Main Bold", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

.navbar-button:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .navbar-container {
    height: 75px;
    padding: 0px 16px;
    width: calc(100% - 32px);
  }
}
